.ant-breadcrumb > span:last-child {
  color: var(--common-primary-color) !important;
}
.ant-breadcrumb a:hover {
  color: var(--common-primary-color) !important;
}
.ant-breadcrumb-separator {
  color: #8c8c8c !important;
}