/* 文字溢出处理(一行) */
@mixin text-ellipsis($width) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字溢出处理(多行) */
@mixin text-hidden-line ($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

/* 除了最后一个元素 */
@mixin not-last-child ($attr, $val) {
  &:not(:last-child) {
    #{$attr}: $val !important;
  }
}
