// 此自定义uView主题生成于2021-01-25 19:41
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #ff7e5f;
$u-type-error: #fa3534;
$u-type-warning: #feb47b;
$u-type-success: #19be6b;
$u-type-info: #909399;
$u-type-primary-light: #fbd9d1;
$u-type-error-light: #fef0f0;
$u-type-warning-light: #ffe3ce;
$u-type-success-light: #dbf1e1;
$u-type-info-light: #f4f4f5;
$u-type-primary-dark: #d26a52;
$u-type-error-dark: #dd6161;
$u-type-warning-dark: #d2986b;
$u-type-success-dark: #18b566;
$u-type-info-dark: #82848a;
$u-type-primary-disabled: #feb19e;
$u-type-error-disabled: #fab6b6;
$u-type-warning-disabled: #fcc8a0;
$u-type-success-disabled: #71d5a1;
$u-type-info-disabled: #c8c9cc;
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;
$u-form-item-border-color: #dcdfe6;
$u-form-item-height: 70rpx;
